html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

.flexbox-container > div {
  width: 50%;
  padding: 10px;
}
#list {
  height: 100%;
  flex: 1;
}
#listbox {
  width: 100%;
}
#map {
  height: 100%;
  flex: 2;
}